.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}

.login-container {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

.login-container h2 {
  color: white;
  margin-bottom: 20px;
}

.login-container input {
 
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container a {
  display: block;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

.login-container a:hover {
  color: #0056b3;
}
