.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}

.register-container {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
}

.register-container h2 {
  color: white;
  margin-bottom: 20px;
}

.register-container input {
  
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.register-container select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.register-container button {
  width: 300px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.register-container button:hover {
  background-color: #0056b3;
}
