header {
  background-color: #232f3e;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  width: 100px;
}

.menu-toggle, .watchlist, .account {
  margin-left: auto;
  margin-right: 20px;
}

.menu-toggle span, .watchlist span, .account span {
  margin-left: 10px;
  cursor: pointer;
}

.arrow-down {
  font-size: 12px;
}

.search input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
